@model IEnumerable<ContactManagement.WebAPI.Models.ContactDetailModel>
@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{

    if (ViewBag.ErrorMsg != null)

    {

        <div id="MsgDiv" class="container">
            <div id="Msg" class="alert alert-danger">
                <button type="button" class="close" onclick="document.getElementById('MsgDiv').style.visibility = 'collapse';">×</button>
                <div id="MsgText">@ViewBag.ErrorMsg</div>
            </div>
        </div>     
    }

}

<script src="~/Scripts/contactDetail.js"></script>
<div class="container">
    <h2> Contact Details</h2>
    <table class="table table-striped table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>

            <th>
            </th>

        </tr>



        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>

                <td>
                    @(item.Status ? "Active" : "Inactive")

                </td>

                <td>
                    <a href="@Url.Action("Edit", "Home", new { _Id = item.Id })" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span>&nbsp;Edit</a>
                    <a onclick="return DeleteConfirmation()" href="@Url.Action("Delete", "Home", new { _Id = item.Id })" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>&nbsp;Delete</a>
                </td>
            </tr>

        }

    </table>

    <table>
        <tr>
            <td>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </td>
        </tr>
    </table>

    <div class="form-actions">
        <a href="@Url.Action("Create", "Home")" class="btn btn-primary">Create New&nbsp;&nbsp;<span class="glyphicon glyphicon-plus-sign"></span></a>
    </div>
</div>